@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");
/* //////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// font family */
body {
  font-family: "Anton", sans-serif;
  background-color: #e5e5e5;
  max-width: 1440px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-auto {
  pointer-events: auto;
}

.header {
  background: url(/assets/header/meal.png) no-repeat;
  padding-bottom: 10%;
  /* logo circles */
  /* h1 */
  /* search form */
  /* search input */
  /* erasing input text cross */
  /* button at the right of input */
  /* transition when hovering button */
}
.header__inner-circles {
  height: 28px;
  width: 28px;
}
.header__heading {
  font-size: 1em;
  color: #ffd15b;
}
@media (min-width: 576px) {
  .header__heading {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 33px;
  }
}
@media (min-width: 992px) {
  .header__heading {
    font-size: 44px;
  }
}
.header__form {
  height: 50px;
}
@media (min-width: 576px) {
  .header__form {
    height: 56px;
  }
}
@media (min-width: 992px) {
  .header__form {
    height: 70px;
  }
}
.header__input {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  border-radius: 11px;
  padding-left: 16px;
  border: none;
  outline: none;
}
@media (min-width: 576px) {
  .header__input {
    font-size: 14px;
    padding-left: 26px;
  }
}
@media (min-width: 768px) {
  .header__input {
    font-size: 1em;
    padding-left: 36px;
  }
}
.header__cross {
  height: 14px;
  position: absolute;
  top: 1.25em;
  right: 4em;
  cursor: pointer;
  transition: opacity 500ms ease-out;
}
@media (min-width: 576px) {
  .header__cross {
    height: 16px;
    top: 1.35em;
    right: 4.5em;
  }
}
@media (min-width: 992px) {
  .header__cross {
    height: 17px;
    top: 1.9em;
    right: 5em;
  }
}
.header__floating-right {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  border: none;
  border-radius: 11px;
  z-index: 2;
}
.header__search-img {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.header__search-img:hover {
  opacity: 0;
}
.header__search-img--hovered {
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.header__search-img--hovered:hover {
  opacity: 1;
}

.cards {
  position: absolute;
  top: 130px;
  padding-bottom: 200px;
  transition: top 500ms ease-out;
}
.cards__norecipes {
  font-size: 16px;
  color: #ffd15b;
}
@media (min-width: 576px) {
  .cards__norecipes {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .cards__norecipes {
    font-size: 33px;
  }
}
@media (min-width: 992px) {
  .cards__norecipes {
    font-size: 44px;
  }
}

.tags-wrapper {
  top: 130px;
  width: 100%;
}

.modal__content {
  height: 88vh;
  width: 90%;
  margin-top: 22px;
}
@media (min-width: 768px) {
  .modal__content {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .modal__content {
    width: 50%;
  }
}
.modal__desc {
  font-family: "Manrope", sans-serif;
  overflow: auto;
  scrollbar-width: none;
}
.modal__text {
  font-size: 14px;
}
.modal__close {
  background-color: #ffd15b;
  opacity: 1;
}
@media (min-width: 768px) {
  .modal__close {
    position: absolute;
    top: 10px;
    right: -40px;
  }
}

.select {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  border-radius: 11px;
  max-width: 200px;
  overflow: hidden;
  max-height: 400px;
  transition: max-height 500ms ease-out;
}
@media (min-width: 576px) {
  .select {
    font-size: 16px;
  }
}
.select--closed {
  max-height: 50px;
}
@media (min-width: 576px) {
  .select--closed {
    max-height: 54px;
  }
}
.select__button {
  background-color: white;
}
.select__input-wrapper {
  transition: opacity 500ms ease-out 50ms;
}
@media (min-width: 992px) {
  .select__input-wrapper {
    height: 36px;
  }
}
.select__cross {
  position: absolute;
  top: 8px;
  right: 34px;
  cursor: pointer;
  transition: opacity 500ms ease-out 50ms;
}
@media (min-width: 576px) {
  .select__cross {
    top: 12px;
    right: 40px;
  }
}
@media (min-width: 992px) {
  .select__cross {
    top: 14px;
    right: 44px;
  }
}
.select__search-button {
  position: absolute;
  top: 5px;
  right: 16px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 14px;
  width: 14px;
}
@media (min-width: 576px) {
  .select__search-button {
    top: 8px;
    right: 22px;
    height: 14px;
  }
}
@media (min-width: 992px) {
  .select__search-button {
    top: 11px;
    right: 24px;
    height: 14px;
  }
}
.select__search-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.select__ul {
  max-height: 200px;
  overflow: auto;
  transition: opacity 500ms ease-out 50ms;
  margin-bottom: 0;
}
.select__li {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  height: 36px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .select__li {
    font-size: 1em;
  }
}
.select__litext::first-letter {
  text-transform: uppercase;
}
.select__li:hover {
  background-color: #ffd15b;
}
.select__li--selected {
  pointer-events: none;
  background-color: #ffd15b;
  font-weight: 700;
}

.card {
  height: 730px;
}
.card__img, .modal__img {
  height: 254px;
  object-fit: cover;
}
.card__desc {
  height: 478px;
  font-family: "Manrope", sans-serif;
}
.card__h2, .modal__h2 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.card__h3, .modal__h3 {
  font-size: 12px;
  font-weight: 700;
}
.card__text {
  font-size: 14px;
  height: 100px;
}
.card__h4 {
  font-size: 14px;
}
.card__quantity {
  font-size: 14px;
  font-weight: 400;
}
.card__ingredients {
  max-height: 202px;
}
.card__time, .modal__time {
  position: absolute;
  top: 22px;
  right: 22px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  background-color: #ffd15b;
  padding: 5px 15px;
  border-radius: 14px;
}

.tags {
  font-family: "Manrope", sans-serif;
  height: 54px;
  max-width: 200px;
}
.tags__inner {
  background-color: #ffd15b;
  border-radius: 10px;
}
.tags__text {
  font-size: 12px;
}
.tags__text::first-letter {
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .tags__text {
    font-size: 1em;
  }
}
.tags__cross {
  position: absolute;
  top: 22px;
  right: 10px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
