@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");
/* //////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// font family */
body {
  font-family: "Anton", sans-serif;
  background-color: #e5e5e5;
}

.header {
  background: url(/assets/header/meal.png) no-repeat;
  padding-bottom: 10%;
  /* logo circles */
  /* h1 */
  /* search form */
  /* search input */
  /* erasing input text cross */
  /* button at the right of input */
  /* transition when hovering button */
}
.header__inner-circles {
  height: 28px;
  width: 28px;
}
.header__heading {
  font-size: 1em;
  color: #ffd15b;
}
@media (min-width: 576px) {
  .header__heading {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 33px;
  }
}
@media (min-width: 992px) {
  .header__heading {
    font-size: 44px;
  }
}
.header__form {
  height: 50px;
}
@media (min-width: 576px) {
  .header__form {
    height: 56px;
  }
}
@media (min-width: 992px) {
  .header__form {
    height: 70px;
  }
}
.header__input {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  border-radius: 11px;
  padding-left: 16px;
  border: none;
  outline: none;
}
@media (min-width: 576px) {
  .header__input {
    font-size: 14px;
    padding-left: 26px;
  }
}
@media (min-width: 768px) {
  .header__input {
    font-size: 1em;
    padding-left: 36px;
  }
}
.header__cross {
  height: 14px;
  position: absolute;
  top: 1.25em;
  right: 4em;
}
@media (min-width: 576px) {
  .header__cross {
    height: 16px;
    top: 1.35em;
    right: 4.5em;
  }
}
@media (min-width: 992px) {
  .header__cross {
    height: 17px;
    top: 1.9em;
    right: 5em;
  }
}
.header__floating-right {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  border: none;
  border-radius: 11px;
  z-index: 2;
}
.header__search-img {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.header__search-img:hover {
  opacity: 0;
}
.header__search-img--hovered {
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.header__search-img--hovered:hover {
  opacity: 1;
}

.select {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  border-radius: 11px;
}
.select:hover {
  background-color: white;
}
@media (min-width: 576px) {
  .select {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .select__input-wrapper {
    height: 36px;
  }
}
.select__cross {
  position: absolute;
  top: 8px;
  right: 34px;
}
@media (min-width: 576px) {
  .select__cross {
    top: 12px;
  }
}
@media (min-width: 992px) {
  .select__cross {
    top: 14px;
  }
}
.select__search-icon {
  position: absolute;
  top: 6px;
  right: 10px;
  height: 12px;
}
@media (min-width: 576px) {
  .select__search-icon {
    top: 8px;
    height: 14px;
  }
}
@media (min-width: 992px) {
  .select__search-icon {
    top: 11px;
    height: 14px;
  }
}
.select__li {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
.select__li::first-letter {
  text-transform: uppercase;
}

.card {
  height: 730px;
}
.card__img {
  height: 254px;
  object-fit: cover;
}
.card__desc {
  height: 478px;
  font-family: "Manrope", sans-serif;
}
.card__h2 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.card__h3 {
  font-size: 12px;
  font-weight: 700;
}
.card__text {
  font-size: 14px;
  height: 100px;
}
.card__h4 {
  font-size: 14px;
}
.card__quantity {
  font-size: 14px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
