// Add some properties to bootstrap

// Required to extend properties classes
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Colors, "c" stands for custom
// variables:
$cyellow: #ffd15b;

// theme-color-variables, "bootstrap/scss/_variables.scss"
$search: $white;
// Add to $theme-colors for search button white background
$search-color: (
  "search": $search,
);

$theme-colors: map-merge($theme-colors, $search-color);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
// h1 yellow color to text-* color class
$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              (
                h1: $cyellow,
              )
            ),
        )
      ),
  )
);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
// white background for search button
$utilities: map-merge(
  $utilities,
  (
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              (
                search: $white,
              )
            ),
        )
      ),
  )
);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
// search form height
$utilities: map-merge(
  $utilities,
  (
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                form: 70px,
              )
            ),
        )
      ),
  )
);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
// inner circles icon negative margin
$utilities: map-merge(
  $utilities,
  (
    "margin-bottom":
      map-merge(
        map-get($utilities, "margin-bottom"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "margin-bottom"), "values"),
              (
                circles: -4px,
                h1: 30px,
              )
            ),
        )
      ),
  )
);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
// erasing input cross margin
$utilities: map-merge(
  $utilities,
  (
    "margin":
      map-merge(
        map-get($utilities, "margin"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "margin"), "values"),
              (
                cross: 0 84px 24px 0,
              )
            ),
        )
      ),
  )
);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// input start text, main padding
$utilities: map-merge(
  $utilities,
  (
    "padding-start":
      map-merge(
        map-get($utilities, "padding-start"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "padding-start"), "values"),
              (
                text: 36px,
              )
            ),
        )
      ),
  )
);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// select gap
$utilities: map-merge(
  $utilities,
  (
    "gap":
      map-merge(
        map-get($utilities, "gap"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "gap"), "values"),
              (
                select: 7%,
              )
            ),
        )
      ),
  )
);

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
// Figma mocking border-radius
$utilities: map-merge(
  $utilities,
  (
    "rounded":
      map-merge(
        map-get($utilities, "rounded"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "rounded"), "values"),
              (
                35: 11px,
              )
            ),
        )
      ),
  )
);
