@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope&display=swap");

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// Logo padding
.p-logo {
  max-width: max-content;
  padding-top: 20px;
  padding-left: calc((100% - 214px) / 2);
}

@media (min-width: 576px) {
  .p-logo {
    padding: 20px 0 0 70px;
  }
}

@media (min-width: 768px) {
  .p-logo {
    padding: 50px 0 0 70px;
  }
}

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// h1 + form div top margin

.spacing {
  padding-top: 5vw;
}

@media (min-width: 576px) {
  .spacing {
    padding-top: 10vw;
  }
}

@media (min-width: 768px) {
  .spacing {
    row-gap: 20px;
  }
}

@media (min-width: 992px) {
  .spacing {
    row-gap: 30px;
  }
}

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// h1 font size
.fs-0 {
  font-family: "Anton", sans-serif;
  font-size: 14px;
  padding: 0;
}

@media (min-width: 576px) {
  .fs-0 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .fs-0 {
    font-size: 33px;
  }
}

@media (min-width: 992px) {
  .fs-0 {
    font-size: 44px;
    min-width: 670px;
    margin: 0;
  }
}

// search button images transition
.search-img {
  opacity: 1;
  transition: opacity 500ms ease-out;

  &:hover {
    opacity: 0;
  }

  &--hovered {
    opacity: 0;
    transition: opacity 500ms ease-out;

    &:hover {
      opacity: 1;
    }
  }
}

.form-control {
  font-family: "Manrope", sans-serif;

  &::placeholder {
    color: #7a7a7a !important;
  }
}

.header {
  background: url(/assets/header/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png)
    no-repeat;
  background-size: 100%;
  padding-bottom: 20px;
}

.main {
  margin-top: 20px;
}

@import "bootstrap/scss/utilities/api";
