.card {
  height: 730px;

  &__img {
    height: 254px;
    object-fit: cover;
  }

  &__desc {
    height: 478px;
    font-family: $font-secondary;
  }

  &__h2 {
    font-family: $font-body;
    font-size: 18px;
    font-weight: 400;
  }

  &__h3 {
    font-size: 12px;
    font-weight: 700;
  }

  &__text {
    font-size: 14px;
    height: 100px;
  }

  &__h4 {
    font-size: 14px;
  }

  &__quantity {
    font-size: 14px;
    font-weight: 400;
  }

  &__ingredients {
    max-height: 202px;
  }

  &__time {
    position: absolute;
    top: 22px;
    right: 22px;
    font-family: $font-secondary;
    font-size: 12px;
    background-color: $time-colour;
    padding: 5px 15px;
    border-radius: 14px;
    width: max-content;
  }
}
