.select {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  border-radius: 11px;
  max-width: 200px;
  overflow: hidden;
  max-height: 400px;
  transition: max-height 500ms ease-out;

  @media (min-width: 576px) {
    font-size: 16px;
  }

  &--closed {
    max-height: 50px;

    @media (min-width: 576px) {
      max-height: 54px;
    }
  }

  &__button {
    background-color: white;
  }

  &__input-wrapper {
    transition: opacity 500ms ease-out 50ms;
    @media (min-width: 992px) {
      height: 36px;
    }
  }

  &__cross {
    position: absolute;
    top: 8px;
    right: 34px;
    cursor: pointer;
    transition: opacity 500ms ease-out 50ms;

    @media (min-width: 576px) {
      top: 12px;
      right: 40px;
    }

    @media (min-width: 992px) {
      top: 14px;
      right: 44px;
    }
  }

  &__search {
    &-icon {
      position: absolute;
      top: 6px;
      right: 16px;
      height: 12px;

      @media (min-width: 576px) {
        top: 8px;
        height: 14px;
      }

      @media (min-width: 992px) {
        top: 11px;
        right: 20px;
        height: 14px;
      }
    }
  }

  &__ul {
    transition: opacity 500ms ease-out 50ms;
  }

  &__li {
    list-style: none;
    font-size: 12px;
    font-weight: 4001336;
    cursor: pointer;

    @media (min-width: 576px) {
      font-size: 1em;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    &-wrapper {
      max-height: 200px;
      overflow: auto;
    }
  }
}
