@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");

/* //////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/// font family */
body {
  font-family: $font-body;
  background-color: $bg-body;
  max-width: 1440px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-auto {
  pointer-events: auto;
}
