// Body bg colour
$bg-body: #e5e5e5;
// colour
$yellow-colour: #ffd15b;

$h1-colour: $yellow-colour;
$time-colour: $yellow-colour;
$tag-colour: $yellow-colour;

// font-family
$sans-serif: sans-serif;
$font-body: "Anton", $sans-serif;
$font-secondary: "Manrope", $sans-serif;
