.modal {
  &__content {
    height: 88vh;
    width: 90%;
    margin-top: 22px;

    @media (min-width: 768px) {
      width: 75%;
    }

    @media (min-width: 1200px) {
      width: 50%;
    }
  }

  &__img {
    @extend .card__img;
  }

  &__desc {
    font-family: $font-secondary;
    overflow: auto;
    scrollbar-width: none;
  }

  &__h2 {
    @extend .card__h2;
  }

  &__h3 {
    @extend .card__h3;
  }

  &__text {
    font-size: 14px;
  }

  &__time {
    @extend .card__time;
  }

  &__close {
    background-color: $yellow-colour;
    opacity: 1;

    @media (min-width: 768px) {
      position: absolute;
      top: 10px;
      right: -40px;
    }
  }
}
